<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <title>Расчет</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Межпланетный Экспресс: расчет ресурсов</a>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="days">

    </div>
    <div class="info">
        <div class="info-column" style="height: calc(100px * {{ length }});">
            <b>День</b>
            {% for i in days %}
                <div class="info-cell">{{ i }}</div>
            {% endfor %}
        </div>
        <div class="info-column" style="height: calc(100px * {{ length }});">
            <b>Расходуемые ресурсы</b>
            {% for i, j in spent_res %}
                <div class="info-cell">{{ i }} ед. кислорода, {{ j }} ед. ядерного топлива</div>
            {% endfor %}
        </div>
        <div class="info-column" style="height: calc(100px * {{ length }});">
            <b>Оставшиеся ресурсы</b>
            {% for i, j in rem_res %}
                <div class="info-cell">{{ i }} ед. кислорода, {{ j }} ед. ядерного топлива</div>
            {% endfor %}
        </div>
        <div class="info-column" style="height: calc(100px * {{ length }});">
            <b>Распределение мощности реактора</b>
            {% for i, j in react %}
                <div class="info-cell">{{ i }}% на двигатель, {{ j }}% на выработку электроэнергии</div>
            {% endfor %}
        </div>
        <div class="info-column" style="height: calc(100px * {{ length }});">
            <b>Характеристики автоклава</b>
            {% for i, j in auto %}
                <div class="info-cell">Температура {{ i }} градусов, {{ j }} ед. кислорода</div>
            {% endfor %}
        </div>
        <div class="info-column" style="height: calc(100px * {{ length }});">
            <b>Популяция SH</b>
            {% for i in sh %}
                <div class="info-cell">{{ i }}</div>
            {% endfor %}
        </div>
    </div>
    </div>
    <h4 style="margin-top:50px;">Космические кредиты, нужные для приобретения ресурсов: {{ money }}</h4>

</main>
</body>
</html>